body {
	background-color:#333333;
	color:#15cc15;
	font-family: monospace,"DejaVu Sans Mono",Monaco,"Andale Mono","Liberation Mono",fixedsys;
	padding:15px;
	font-size:12px;
}

a {
	text-decoration:none;
	color:#009900;
	font-size:16px;
}
a:hover {
	color:#00ff00;
}
.goback {
	float:left;
	width: 100px;
}
.downloadlink {
	margin: 0 auto;
	width: 170px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #FFF;
}
.downloadlink a {
	color: #000;
}
.downloadlink a:hover {
	color: #333;
}
